:root {
    --deep_purple: #00012b;
    --white: #ffffff;
}

.home {
    color: var(--white);
    background-color: var(--deep_purple);
    background-image: url("https://raw.githubusercontent.com/JessalynWang/jessalynwang.github.io/master/images/MyPost.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
}